.logos {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fifty {
  width: 100%;
}
.audience {
  width: 100%;
}
.logos img {
  max-width: 55%;
  padding-left: 2rem;
  padding-top: 0.8rem;
}
