.pyramids {
  position: relative;
  width: 25%;
}

.pyramid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.moneyList {
  list-style: none;
  width: 100%;
  padding: 1.5rem;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.moneyListItem.active {
  background-color: teal;
}

.moneyListItemNumber {
  font-size: rem;
  font-weight: 100;
  width: 30%;
}

.moneyListItemAmount {
  font-size: 1.2rem;
  font-weight: 300;
}
