.app {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;
}

.main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets/bg.jpg") center;
  display: flex;
  flex-direction: column;
}

.top {
  height: 50%;
  position: relative;
}

.timer {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  bottom: 0.7rem;
  left: 5rem;
}

.bottom {
  height: 50%;
}

.pyramid {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moneyList {
  list-style: none;
  width: 100%;
  padding: 1.5rem;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.moneyListItem.active {
  background-color: teal;
}

.moneyListItemNumber {
  font-size: rem;
  font-weight: 100;
  width: 30%;
}

.moneyListItemAmount {
  font-size: 1.2rem;
  font-weight: 300;
}

.endGameText {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
